{{>header}}
<div class="row">
    <div class="col align-items-center justify-content-center d-flex bg-warning" style="height: 556px;">
        <h1 class="text-center" style="text-shadow: 7px 7px 7px rgba(0, 0, 0, 0.368) ;">404 This page is not available on this site</h1>
    </div>
</div>
{{>footer}}